certifi==2026.6.17
    # via requests
charset-normalizer==3.4.9
    # via requests
decorator==5.3.1
    # via hansken
docker==7.2.0
    # via hansken-extraction-plugin
grpcio==1.82.1
    # via hansken-extraction-plugin
hansken==2025.11.25.1
    # via hansken-extraction-plugin
hansken-extraction-plugin==0.9.5
    # via -r requirements.in
idna==3.18
    # via requests
ijson==3.5.1
    # via hansken
iso8601==2.1.0
    # via hansken
logbook==1.8.0
    # via
    #   -r requirements.in
    #   hansken
    #   hansken-extraction-plugin
more-itertools==11.1.0
    # via hansken
numpy==2.2.6
    # via -r requirements.in
protobuf==7.35.1
    # via hansken-extraction-plugin
python-dateutil==2.9.0.post0
    # via hansken
pytz==2026.2
    # via hansken-extraction-plugin
requests==2.34.2
    # via
    #   docker
    #   hansken
    #   requests-toolbelt
requests-toolbelt==1.0.0
    # via hansken
six==1.17.0
    # via python-dateutil
tabulate==0.10.0
    # via hansken
typing-extensions==4.16.0
    # via
    #   grpcio
    #   hansken-extraction-plugin
urllib3==2.7.0
    # via
    #   docker
    #   requests
